body,
html {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.calculator-container {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: rgb(243, 236, 236);
}

.calculator {
  padding: 20px;
}

.input-field {
  margin-bottom: 15px; /* Add margin between input fields */
}

.image-container {
  max-width: 200%;
  height: auto;
  padding: 20px;
}
