.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.intro-login-container {
  display: flex;
}

.login-container,
.register-container {
  margin: 20px;
}
/* App.css */

/* Default link styles */
.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition effect */
}

/* Link styles on hover */
.nav-link:hover {
  color: #f0f0f0; /* Off-white color on hover */
}

/* Link styles when active (clicked) */
.nav-link:active {
  color: #f0f0f0; /* Off-white color when active */
}
/* App.css */

.volunteer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* App.css */

.form-box {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  margin-left: 10px;
  background-color: #f0f0f0;
}

/* App.css */

.partner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.partner-form-container {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  margin-left: 10px;
  background-color: #f0f0f0;
}

.partner-image-container {
  width: 35%;
  margin-right: 25px;
}

.partner-image-container img {
  width: 100%;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 10px;
}

.image-box {
  width: 40%;
  background-color: #f0f0f0;
}

.image-box img {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
}
/* App.css */

.donation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.donation-form-container {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-bottom: 10px;
}

.donation-image-container {
  width: 40%;
  margin-right: 10px;
}

.donation-image-container img {
  width: 100%;
  height: auto;
}
.logo-name-box {
  margin-left: 10px;
  margin-right: 5px;
  size: 10px;
}
